* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    text-align: center;
}

a {
    text-decoration: none;
    text-align: center;
}

.toolbar{
    display: flex;
    justify-content: center;
}